


html {
    background-color: slategray;
}

h1 {
    font-style: normal;
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 span:nth-child(1) {
    color: white;
    background: red;
}


form {
    text-align: center;
}